name: pyrotgfork

on:
  workflow_dispatch:
  schedule:
    - cron: "3 5 * * 2"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository contents
        uses: actions/checkout@v4

      - name: Setup Python Version
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Run script
        env:
          APP_ID: ${{ secrets.APP_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          TG_SESSION: ${{ secrets.TG_SESSION }}
          FLOOD_WAIT_SLEEP_TIME: ${{ secrets.FLOOD_WAIT_SLEEP_TIME }}
          MESSAGE_LINK: ${{ secrets.MESSAGE_LINK }}
        run: |
          echo "Beginning Pyrogram test"
          mkdir -p out
          pip install --force-reinstall pyrotgfork https://github.com/TelegramPlayGround/pyrogram-tgcrypto/archive/10142c3.zip > /dev/null 2>&1
          P=$(python src/pyrogram/maini.py)
          pip uninstall -y pyrotgfork pytgcrypto > /dev/null 2>&1
          echo "${P}" > out/pyrotgfork.json

      - name: Commit and push changes
        run: |
          git config pull.rebase true
          git add out/ -A
          LIBRARY="PyroTGFork" ./.github/_commit.sh
          git pull origin master
          git push origin master
